@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: black;
}
.box{
    border: 2px solid rgb(68, 210, 229);
    height: 518px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
}
.smallbox{
    border: 2px solid rgb(68,210,229);
    width: 50px;
    height: 50px;
    background-color: greenyellow;
}
button{
    border: 4px solid rgb(68,210,229);
    margin: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    background-color: rgb(70, 65, 65);
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
}
button:hover{
    background-color: rgb(23, 22, 22);
}
.upbtn{
    margin-left: 749px;
}
.threebtn{
    margin-left: 674px;
}
.downbtn{
    margin-left: 737px;
}